<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941065261320-h4ps032ui2sabb9outi5blnfdh9obqcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941065261320-h4ps032ui2sabb9outi5blnfdh9obqcp</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ_s-3qaQpHLWCYF8A27-h1ZnivtKOIgI</string>
	<key>GCM_SENDER_ID</key>
	<string>941065261320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b81e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b81e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941065261320:ios:95fadf956e2e19d01c1cbd</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b81e5.firebaseio.com</string>
</dict>
</plist>